body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f0f0;
  position: relative;
}

.icon {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  background-image: url('https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.dogfound.ir%2F%3Fd%3D23849717&psig=AOvVaw02x5lDdpG1IDkyCQXHJbol&ust=1745767325159000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNjmip2A9owDFQAAAAAdAAAAABAE');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
