body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8); /* بک‌گراند سیاه مات */
  color: #fff;
  font-family: 'Tahoma', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  direction: rtl;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 3em;
  height: 3em;
  cursor: not-allowed;
  border-radius: 50%;
  border: 2px solid #444;
  box-shadow: 
    -10px -10px 10px #6359f8, 
    0px -10px 10px 0px #9c32e2, 
    10px -10px 10px #f36896, 
    10px 0 10px #ff0b0b, 
    10px 10px 10px 0px #ff5500, 
    0 10px 10px 0px #ff9500, 
    -10px 10px 10px 0px #ffb700;
  animation: rot55 0.7s linear infinite;
  position: relative;
}

.spinnerin {
  border: 2px solid #444;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-text {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #ffffff;
  opacity: 0.9;
}

@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}
