/* تنظیمات کلی */
body, html {
    margin: 0;
    padding: 0;
}

/* کانتینر لوگو */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px; /* ارتفاع دلخواه از بالا */
    margin-top: 10px; /* فاصله از بالای صفحه */
}

/* خود لوگو */
.logo {
    max-width: 200px;
    height: auto;
}
