/* تنظیمات برای body و html برای اینکه از کل صفحه استفاده کنیم */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* وسط کردن افقی */
    align-items: flex-start; /* وسط کردن عمودی */
    flex-direction: column; /* تمام محتوا به صورت عمودی باشد */
    background-color: black; /* پس‌زمینه سیاه */
    color: white; /* رنگ متن سفید برای خوانایی */
}

/* استایل لوگو */
.logo {
    max-width: 200px; /* حداکثر عرض */
    height: auto; /* ارتفاع به صورت خودکار */
    margin-top: 10px; /* فاصله از بالای صفحه */
}
