/* styles.css */
body {
    background-color: black;
    color: white; /* برای متن سفید روی بک‌گراند سیاه */
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh; /* ارتفاع کامل صفحه */
    margin: 0; /* حذف فاصله‌ها */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
}
